/* ==============================
0. BASE STYLING
===============================*/

/* ==== 0.1 WEB FONTS ==== */

@font-face {
  font-family: 'Abolition Regular';
  src: url('fonts/abolition-regular-webfont.eot');
  src: url('fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/abolition-regular-webfont.woff') format('woff'),
       url('fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* ==== 0.2 UNIVERSAL RULES ==== */

* { box-sizing: border-box; }

body {

	font-family: arial, sans-serif;
	font-size: 0.8rem;
	margin: 0;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ==== 0.3 TAG RULES ==== */

a {

	text-decoration: none;
	color: initial;
	display: inline-block;
	width: 100%;
	height: 100%;

}

h1 { margin: 0; }

h2,
h3 {
	
	margin: 0;
	font-weight: normal;

}

input { border: none; }

input:focus { outline: none; }

img { display: block; }

p {margin: 0;}

ul {

	list-style: none;
	padding: 0;
	margin: 0;

}

/* ==== 0.4 GENERAL CLASS STYLING ==== */

.normal_tag {

	font-size: 0.7rem;
	padding: 1px 4px !important;
	border-radius: 3px;
	color: white;

}

.purple_tag { background: linear-gradient(135deg, #9d1fff 0%,#4a3eed 100%); }
.gray_tag { background: linear-gradient(135deg, #9ba8aa 0%,#92b4d2 100%); }
.red_tag { background: linear-gradient(135deg, #ff253a 0%,#ff8453 100%); }
.yellow_tag { background: linear-gradient(135deg, #ffc107 1%,#fffc07 100%); color: black;}
.aqua_tag { background: linear-gradient(135deg, #17a2b8 1%,#30def9 100%); }

.bold_string { font-weight: bold; }

.previous,
.next {

	position: absolute;
	background: white;
	border-radius: 50% 50%;
	color: #4a3eed;
	border: 2px solid #4a3eed;
	font-size: 0.65rem;
	box-shadow: 0 0 9px #ccc;
	display: none;

}

/*===== 	PREVIOUS AND NEXT 	======*/

.previous a,
.next a {

	color: #4a3eed;
	padding: 11px 3px;

}

.previous { left: 10px; top:45%; }
.next { right: 10px; top:45%; }

.previous:hover { background: #4a3eed;}
.next:hover { background: #4a3eed; }

.previous:hover a { color: white;}
.next:hover a { color: white; }

[class*=section]:hover .previous,
[class*=section]:hover .next { display: block !important; }

/* ==============================
1. HEADER
===============================*/

header { 

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 12px 18px;
	background: linear-gradient(to right, #4a3eed 0%, #9d1fff 100%);

}

/* ==== 1.1 IMG & MENU ICON ==== */

header .logo_menu { 

	display: flex;
	align-items: center;
	margin-bottom: 13px;

}

header .logo_link { 

	width: auto;
	margin-right: auto;
}

header .logo_menu .logo {

	height: 30px;
	margin-right: auto;

}

header .logo_menu .fa-navicon {

	font-size: 30px;
	color: rgba(0, 0, 0, 0.5);
	background: rgb(255, 255, 255);
	padding: 3px 7px;
	border-radius: 3px;

}

header .logo_menu .fa-navicon:hover { outline: 5px solid rgba(0, 0, 0, 0.3); }

/* ==== 1.2 SEARCH BAR ==== */

.search_bar { 

	display: flex;
	background: white;
	padding: 4px;
	border-radius: 3px;
	height: 42px;
	margin-bottom: 13px;

}

.search_bar form { flex: 1; }

.search_bar form input { 

	width: 100%;
	height: 100%;
	padding: 0 10px;

}

.search_bar a {

	display: flex;
	align-items: center;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(69, 102, 173, 0.23);
	width: auto;
	height: auto;
	background: linear-gradient(135deg, #ffc107 1%,#fffc07 100%);
	border: 1px solid #ffc107;
	padding: 0px 10px;

}

/* ==== 1.3 CART & ACCOUNT ==== */

.cart_account { 

	display: flex;
	justify-content: center;
	height: 36px;

 }

.cart_account > li {

	display: flex;
	align-items: center;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	position: relative;
	cursor: pointer;
	transition: background 0.25s, color 0.25s;

}

.cart_account .shopping_cart { 

	padding: 0 10px; 
	margin-right: 8px;
	z-index: 10;

}

.cart_account >li:hover { 

	background: white; 
	color: #4a3eed;

}

.cart_account >li:hover > span {color: #4a3eed;}

.cart_account .shopping_cart .counter {

	position: absolute;
	top: -9px;
	right: 0;
	font-weight: bold;
	padding: 2px 6px;
	background: #fe4949;
	border-radius: 10px;
	font-size: 0.7rem;
	color: white;

}

.cart_account .account { padding: 4px; z-index: 10;}

.cart_account .account img {

	height: 27px;
	outline: 1px solid white;

}

.cart_account .account span {

	color: white;
	padding: 0 10px;

}

/* ==============================
2. CART MENU & ACCOUNT MENU
===============================*/

/* ==== 2.1 CART MENU ==== */

.items_cart { 

	position: absolute;
	top: 47px;
	left: 0;
	width: 268px;
	padding: 10px 0;
	box-shadow: 0 0 23px rgba(69, 102, 173, 0.23);
	border-radius: 0 0 10px 10px;
	cursor: auto;
	background: white;
	
}

.items_cart > li a {

	display: flex;
	padding: 8px 12px;
	height: 80px;

}

.items_cart > li:hover { background: #f8f9fa; }

.items_cart > li img {

	height: 100%;
	box-shadow: rgb(236, 236, 236) 0px 0px 4px 0px;
	border: 1px solid rgb(236, 236, 236);
	margin-right: 15px;

}

.items_cart > li div {

	display: flex;
	flex-direction: column;
	flex: 1 100%;
	position: relative;

}

.items_cart > li h3 {

	color: black;
	display: flex;
	align-items: center;
	font-size: 0.9rem;

}

.items_cart > li i {

	position: absolute;
	right: 0;
	top: 3px;
	color: rgb(74, 62, 237);

}

.items_cart .remove {

	position: absolute;
	background: black;
	border-radius: 5px; 
	color: white;
	padding: 5px;
	top: -29px;
	right: -23px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.35s;

}

.items_cart > li i:hover + .remove {

	visibility: visible;
    opacity: 1;

}

.items_cart .remove i {

	position: absolute;
	top: 20px;
	left: 26px;
	color: black;

}

.items_cart > li .model_description {

	color: rgb(74, 62, 237);
	margin: 5px 0;
	font-size: 0.7rem;

}

.items_cart > li .price {

	color: rgb(255, 37, 58);

}

.items_cart > li .price span {

	color: black;
	text-decoration: line-through;
	color: rgb(204, 204, 204);

}

.items_cart .final_cart {

	flex-direction: column;
	color: black;
	padding: 8px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.items_cart .final_cart:hover { background: none; }

.items_cart .final_cart h2 {

	text-align: center;
	font-size: 1rem;
	margin: 5px 0;

}

.items_cart .final_cart div {

	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

}

.items_cart .final_cart div a {

	width: auto;
	height: auto;
	padding: 7px;
	border-radius: 3px;
	color: white;

}

#shop-cart {

	background-image: linear-gradient(135deg, rgb(255, 37, 58) 0%, rgb(255, 132, 83) 100%);
	border: 1px solid red;
	margin-right: 10px;

}

#shop-cart i { position: static; color: white;}

#checkout {

	background-image: linear-gradient(135deg, #9d1fff 0%,#4a3eed 100%);
	border: 1px solid #4a3eed;

}

/* ==== 2.1 ACCOUNT MENU ==== */

.account_menu {

	position: absolute;
	top: 47px;
	left: 0;
	box-shadow: 0 0 23px rgba(69, 102, 173, 0.23);
	border-radius: 0 0 10px 10px;
	width: 160px;
	padding: 6px 0;
	cursor: auto;
	background: white;

}

.account_menu > li:hover { background: #f8f9fa; }

.account_menu li a {

	color: #666666;
	padding: 11px 20px;

}

.account_menu li i {

	font-size: 0.8rem;
	width: 15px;
	line-height: 14px;
	text-align: center;

}

#wish_tag {

	background: linear-gradient(135deg, #4eda92 1%,#56e0cb 100%);

}

#sign_out {

    border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 11px;

}

/* ==============================
3. MAIN MENU
===============================*/

.main_menu { background: rgba(0, 0, 0, 0.025); }

.main_menu > li { border-bottom: 1px solid rgba(0, 0, 0, 0.075); }

.main_menu li .menu_link:hover {

	background: white;
	color: blue;

}

.main_menu li .menu_link {

	padding: 15px;
	font-weight: bold;

}

.main_menu li .home_images,
.main_menu li .product_submenu,
.main_menu li .brands_submenu,
.main_menu li .pages_submenu,
.main_menu li .components_submenu {

	border-top: 2px solid blue;

}

/* ==== 3.1 HOME SUBMENU ==== */

.main_menu li:nth-child(1) .menu_link:nth-child(1) {

	background: white;
	color: blue;

}

.main_menu li .home_images img {

	max-width: 100%;
	margin: 0 auto;

}

.main_menu li a:hover + .home_images,
.main_menu .home_images:hover {

	display: block;

}

/* ==== 3.2 PRODUCT SUBMENU ==== */

.main_menu .product_submenu .product_title { margin-bottom: 10px; }

.main_menu .product_submenu .product_title:hover { background: #e1e7ec; }

.main_menu .product_submenu .product_title a {

	font-size: 0.8rem;
	font-weight: bold;
	color: #666666 ;
	padding: 12px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.main_menu .product_submenu .product_column1 { display: none; }

.main_menu .product_submenu .indenter {

	width: 0;
	height: 0;
	display: inline-block;
	transition: width 0.25s;

}

.main_menu .product_submenu .product_list li a {

	padding: 10px 20px;
	color: #666666 ;

}

.main_menu .product_submenu .product_list li:hover { background: #e1e7ec; }
.main_menu .product_submenu .product_list li:hover .indenter { width: 10px; }

/* ==== 3.3 BRANDS SUBMENU ==== */

.main_menu .brands_submenu .brands_list .img_brand {

	display: inline-block;
	width: 38px;
	padding: 6px 4px;
	background: white;
	border-radius: 50% 50%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px #a2a2a2;

}

.main_menu .brands_submenu .brands_title { margin-bottom: 10px; }

.main_menu .brands_submenu .brands_title:hover { background: #e1e7ec; }

.main_menu .brands_submenu .brands_title a {

	font-size: 0.8rem;
	font-weight: bold;
	color: #666666 ;
	padding: 12px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.main_menu .brands_submenu .indenter {

	width: 0;
	height: 0;
	display: inline-block;
	transition: width 0.25s;

}

.main_menu .brands_submenu .brands_list li a {

	display: flex;
	align-items: center;
	padding: 5px 20px;
	color: #666666;

}

.main_menu .brands_submenu .brands_list li:hover { background: #e1e7ec; }
.main_menu .brands_submenu .brands_list li:hover .indenter { width: 10px; }

/* ==== 3.4 PAGES SUBMENU ==== */

.main_menu .pages_submenu .pages_title { margin-bottom: 10px; }

.main_menu .pages_submenu .pages_title:hover { background: #e1e7ec; }

.main_menu .pages_submenu .pages_title a {

	font-size: 0.8rem;
	font-weight: bold;
	color: #666666 ;
	padding: 12px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.main_menu .pages_submenu .indenter {

	width: 0;
	height: 0;
	display: inline-block;
	transition: width 0.25s;

}

.main_menu .pages_submenu .pages_list li a {

	padding: 10px 20px;
	color: #666666 ;

}

.main_menu .pages_submenu .pages_list li:hover { background: #e1e7ec; }
.main_menu .pages_submenu .pages_list li:hover .indenter { width: 10px; }

/* ==== 3.5 COMPONENTS SUBMENU ==== */

.main_menu .components_submenu .components_title { margin-bottom: 10px; }

.main_menu .components_submenu .components_title:hover { background: #e1e7ec; }

.main_menu .components_submenu .components_title a {

	font-size: 0.8rem;
	font-weight: bold;
	color: #666666 ;
	padding: 12px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.main_menu .components_submenu .indenter {

	width: 0;
	height: 0;
	display: inline-block;
	transition: width 0.25s;

}

.main_menu .components_submenu .components_list li a {

	padding: 10px 20px;
	color: #666666 ;

}

.main_menu .components_submenu .components_list li:hover { background: #e1e7ec; }
.main_menu .components_submenu .components_list li:hover .indenter { width: 10px; }

/* ==== 3.6 BLOG SUBMENU ==== */

.main_menu .indenter {

	width: 0;
	height: 0;
	display: inline-block;
	transition: width 0.25s;

}

.main_menu .blog_list li a {

	padding: 10px 20px;
	color: #666666 ;

}

.main_menu .blog_list li:hover { background: #e1e7ec; }
.main_menu .blog_list li:hover .indenter { width: 10px; }

/* ==============================
4. BANNER CAROUSEL
===============================*/

.banner_carousel { position: relative; }

.banner_carousel .previous,
.banner_carousel .next { display: block; }

.banner_carousel .previous { left: 25px; }
.banner_carousel .next { right: 25px; }
.banner_carousel a { display: block; }
.banner_carousel img { width: 100%; }

/* ==============================
5. SECTIONS / ITEMS STYLING
===============================*/

/* ==== 5.1 GENERAL STYLING ==== */

[class*="section"] {

	background: white;
	padding: 25px 15px 40px;

}

/* ==== 5.2 HEADER STYLING ==== */

[class*="section"] [class*=header] {

	position: relative;

}

[class*="section"] [class*=header] h1 {

	color: #343a40;
	font-size: 1rem;
	margin-bottom: 40px;

}

[class*="section"] [class*=header] .border_decorative {

	height: 3px;
	width: 40px;
	background: linear-gradient(to right, #4a3eed 0%, #9d1fff 100%);
	position: absolute;

}

#featured_pos,
#onsale_pos { top: 30px; }

/* ==== 5.3 SECTION ITEMS ==== */

[class*="section"] [class*="wrapper"] { position: relative; }

[class*="section"] [class*="item"] .container_box { width: 100%; }

[class*="section"] [class*="item"] .container_box a { display: block; }

[class*="section"] [class*="item"] {

	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.01);
	border: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	
}

[class*="section"] [class*="wrapper"] > :not(:nth-child(1)) { display: none; }

[class*="item"] .image_container {

	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background: white;
	transition: transform ease 0.25s, border ease 0.25s;

}

[class*="item"] .image_container img {

	height: 280px;
	margin: 0 auto;
	position: relative;

}

[class*="item"] .container_box .normal_tag {

	position: absolute;
	left: 7px;
	top: 29px;

}

[class*="item"] .container_box .fa-heart {

	position: absolute;
	top: 22px;
	right: 23px;
	color: #bbbbbb;

}

[class*="item"] .container_box .feat_prev { left: 17px; }
[class*="item"] .container_box .feat_next { right: 17px; }

/* ==== 5.3.1 FOOTER UNCLICKED ==== */

[class*="item"] .footer_container_unclicked {

	display: flex;
	flex-direction: column;
	align-items: center;

}

[class*="item"] [class*=tooltip] {

	background: black;
	color: white;

}

[class*="item"] [class*=title] {

	color: rgb(74, 62, 237);
	margin: 10px 0;
	font-size: 0.9rem;
	font-weight: bold;

}

[class*="item"] .product_price {

	margin-bottom: 20px;

}

[class*="item"] .product_price .prev_price {

	color: rgb(204, 204, 204);
	text-decoration: line-through;

}

[class*="item"] .product_price .actual_price {

	color: rgb(126, 126, 126);

}

[class*="item"] .review .fa-star {

	color: rgb(255, 195, 21);

}

/* ==== 5.3.2 FOOTER CLICKED ==== */

[class*="item"] .footer_container_clicked {

	margin: 15px;
	display: none;
	flex-direction: column;
	align-items: center;
	position: relative;

}

[class*="item"] .footer_container_clicked a {

	display: inline-block !important;
	width: auto;

}

[class*="item"] .footer_container_clicked a:hover .fa { background: linear-gradient(to left, #4a3eed 0%, #9d1fff 100%); }

[class*="item"] .footer_container_clicked .fa {

	color: white;
	background: linear-gradient(to right, #4a3eed 0%, #9d1fff 100%);
	font-size: 1rem;
	text-align: center;
	padding: 8px;
	border-radius: 3px;

}

[class*="item"] .footer_container_clicked .sizing { margin: 15px; }

[class*="section"] [class*="item"]:hover { 

	background: white;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);

}

[class*="section"] [class*="item"]:hover .footer_container_unclicked { display: none; }
[class*="section"] [class*="item"]:hover .footer_container_clicked{ display: flex; }
[class*="section"] [class*="item"]:hover .image_container {

	transform: scale(1.07);
	border: 1px solid transparent;

}

[class*="item"] [class*="tool_"] { 

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.35s;
	position: absolute;

}

[class*="item"] .link_shopping_cart,
[class*="item"] .link_search {

	position: relative;

}

[class*="item"] .icons_clicked .link_shopping_cart .tool_cart_container {

	width: 150px;
	top: 0;
	left: -85px;

}

[class*="item"] .icons_clicked .link_search .tool_search_container {

	width: 150px;
	top: 0;
	left: -91px;

}

[class*="item"] .icons_clicked .link_shopping_cart:hover .tool_cart_container,
[class*="item"] .icons_clicked .link_search:hover .tool_search_container {

/*	display: block !important;*/
	visibility: visible;
	opacity: 1;

}

[class*="item"] [class*="tooltip"] {

	position: absolute;
	padding: 5px 8px;
	border-radius: 5px;

}

.tooltip_cart { top: -36px; left: 39%; }
.tooltip_search { top: -36px; left: 45%; }

[class*="item"] [class*="tool_"] [class*=squared] {

	background: black;
	width: 10px;
	height: 10px;
	position: absolute;
	transform: rotate(45deg);

}

[class*="item"] .tool_cart_container .squared_cart { top: -18px; left: 64%; }
[class*="item"] .tool_search_container .squared_search { top: -18px; left: 68%; }

/* ==== 5.4.1 Featured Fixes ==== */

.featured_section {

	background: rgb(74, 62, 237);

}

.featured_section .featured_header h1 {

	color: white;

}

.featured_section [class*="item"] {

	background: white;
	border: none;

}

/* ==== 5.4.2 Hot Fixes ==== */

.hot_section [class*="hot_item"] {

	margin-bottom: 15px;
	display: block !important;

}

/* ==============================
6. PHONE GRID - GRID MODULE
===============================*/

.grid_container { padding: 25px 15px 0;  }

.grid_container div[class*="item"] {

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;

}

.grid_container div[class*="item"] img {

	position: relative;
	max-width: 100%;
	transition: transform 0.25s;
	margin: 0 auto;

}

.grid_container div[class*="item"] .pfoot {

	height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 15px 10px 10px;
	text-align: center;
	background: rgba(255, 255, 255, 0.9)

}

.grid_container div[class*="item"] .pfoot h2 {

	font-size: 0.75rem;
	color: rgb(52, 58, 64);
	letter-spacing: 0.01px;
	font-weight: bold;

}

.grid_container div[class*="item"] .pfoot i {

	font-size: 0.8rem;
	text-align: center;
	color: white;
	padding: 10px;
	background-image: linear-gradient(to right, rgb(74, 62, 237) 0%, rgb(157, 31, 255) 100%);
	border-radius: 50% 50%;
	width: 32px;

}

.grid_container div[class*="item"]:hover { box-shadow: 0 5px 17px 0 rgba(23, 84, 116, 0.18); }
.grid_container div[class*="item"]:hover img { 

	transform: scale(1.05);

}

/* ==============================
7. BANNERS
===============================*/

/* ==== 7.1 GENERAL STYLING ==== */

[class*="banner_main"] {

	position: relative;
	z-index: 20;

}

[class*="banner_main"] .banner_container {

	padding: 0px 10px;
	background: #efefef;

}

[class*="banner_main"] .banner_container .banner {

	width: 100%;

}

/* ==== 7.1 SECOND BANNER FIX ==== */

.banner_main_second .banner_container {

	background: initial;

}

/* ==============================
8. TOP BRANDS STYLING
===============================*/

.top_brands_section {

	background: rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	position: relative;
}



.top_brands_section .brands_header h1 {

	display: flex;
	align-items: center;

}

#brands_icon {

	font-size: 0.85rem;
	padding: 3px !important;
	display: inline-block;
}

.top_brands_section .brands_container {

	display: flex;
	justify-content: center;

}

.top_brands_section .brands_container > [class*=brand] {

	background: white;
	border-radius: 50% 50%;
	padding: 14px 10px;
	overflow: hidden;
	display: inline-block;

}

.top_brands_section .brands_container > [class*=brand] img {

	transition: transform 0.25s;

}

.top_brands_section .brands_container > :not(:nth-child(1)) { display: none; }

.top_brands_section .brands_container > [class*=brand]:hover img { transform: scale(1.10); }

.top_brands_section .brands_container > [class*=brand]:hover { 

	border: 2px solid #4a3eed;
	padding: 12px 8px;

}

.top_brands_section .previous { 
	
	left: 40px;
	top: 55%;
	display: none;
	
}

.top_brands_section .next { 

	right: 40px;
	top: 55%;
	display: none;

}

/* ==============================
9. BRANDS FOOTER STYLING
===============================*/

/* ==== 9.1 GENERAL STYLING ==== */

.main_footer {

	background: linear-gradient(to right, #4a3eed 0%, #9d1fff 100%);
	border-top: 1px solid blue;
	padding: 5px 0;

}

[class*="footer_section"] { 

	background: initial; 
	margin: 25px 15px;
	padding: 0;

}

[class*="footer_section"] [class*=header] h1 {

	color: white;
	margin-bottom: 20px;

}

[class*="footer_section"] [class*=brands] {

	display: flex;
	flex-wrap: wrap;

}

[class*="footer_section"] [class*=brands] li {

	flex: 50%;
	padding: 8px;

}

[class*="footer_section"] [class*=brands] li a { color: white; }

[class*="footer_section"] [class*=brands] li span {

	font-weight: bold;

}

/* ==== 9.2 ABOUT STYLING ==== */

.about_footer_section .about_text {

	color: white;
	line-height: 30px;

}

/* ==============================
10. SERVICE FOOTER STYLING
===============================*/

.service_container .fa,
.service_container [class*=policy] { float: left;}

.service_container {

	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.service_container [class*=policy] { padding: 2px 0px; }

.service_container .fa {

	font-size: 2.5rem;
	width: 40px;
	text-align: center;
	margin-right: 18px;
	color: #9d1fff;

}

.service_container [class*=policy] h3 {

	margin-bottom: 5px;
	color: #4a3eed;

}

.service_container [class*=policy] p { color: #555555; }

/* ==============================
11. FOOTER COMPANY SIDE NAV
===============================*/

.company_aside_nav {

	background: #343a40;
	color: rgba(255, 255, 255, 0.8);
	padding: 25px 15px;

}

.company_aside_nav .aside_ul {

	margin: 0 auto;
	text-align: center;

}

.company_aside_nav .aside_ul li { 

	display: inline-block;
	font-weight: bold;
	padding: 0px 10px 10px;

}

.company_aside_nav .aside_ul li > a { color: white; }

.company_aside_nav .copyright {

	display: block;
	text-align: center;
	font-size: 0.73rem;
	margin: 0 auto;

}

.company_aside_nav .copyright a {

	color: rgba(255, 255, 255, 0.8);
	width: auto;

}

.company_aside_nav .copyright .fa-heart { color: red;}

/* ==============================
12. MEDIA QUERIES
===============================*/

/* ====11.1 MAJOR BREAKPOINT: MIN-WIDTH 480PX
@@@ SECTIONS: FEATURED / ON SALE / BEST SELLERS / TOP BRANDS --> TWO COLUMN LAYOUT
 ==== */

@media (min-width: 480px) {

	[class*=section] [class*=wrapper] { display: flex; }

	[class*=section] [class*=item] { flex: calc(50% - 2px); }

	[class*=section] [class*=item1] { margin-right: 2px; }

	[class*=section] [class*=item2] { 

		margin-left: 2px; 
		display: block !important;

	}

	.hot_section .hot_wrapper {

		display: block;

	}

	.top_brands_section .brands_container {justify-content: space-around;}

	.top_brands_section .brands_container .brand2 {display: block;}	

}

/* ====11.2 MAJOR BREAKPOINT: MIN-WIDTH 576PX 
@@@ MENU --> LAYOUT CHANGED TOTALLY
@@@ DEPLOY PHONE GRID CONTAINER
@@@ HOT SECTION --> TWO COLUMNS LAYOUT
@@@ MAIN FOOTER --> TWO COLUMNS LAYOUT
==== */

@media (min-width: 576px) {

	/* =============================================== */

	.main_menu li .home_images li {

		float: left;
		width: 25%

	}

	.main_menu li .home_images li a img {

		margin: 0;

	}

	.main_menu .product_submenu {



	}

	.main_menu .product_submenu .product_column1 a img {

		max-width: 100%;

	}

	.main_menu .product_submenu [class*="product_column"] { 

		display: block;
		float: left;
		width: 25%;
		border-left: 1px solid rgba(0, 0, 0, 0.1) ;
		height: 100%;

	}

	/* =============================================== */

	.grid_container {display: flex; padding: 0; }

	.grid_container .sub_container1 { flex-basis: 66.66% }

	.grid_container .sub_container2 { flex-basis: 33.33%; }

	.grid_container div[class*="item"] {

		margin: 10px;
		display: inline-block;
		position: relative;
		top: 0px;

	}

	.wrap2 { display: flex; }

	.wrap2 .subwrap1,
	.wrap2 .subwrap2 { flex-basis: 50%; }

	/* =============================================== */

	.hot_section .hot_wrapper { display: flex; flex-wrap: wrap; }

	.hot_section [class*="hot_item"] { flex: calc(50% - 30px); }

	.hot_section [class*="hot_item"]:nth-child(odd) { margin-right: 15px; }
	.hot_section [class*="hot_item"]:nth-child(even) { margin-left: 15px; }

	/* =============================================== */

	.main_footer { display: flex; flex-wrap: wrap; }

	.main_footer [class*="footer_section"] { flex: calc(50% - 30px); }

}

